* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
}

.container {
  width: 380px;
}

.login-box {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 600;
  color: #1e3a8a;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  margin-bottom: 15px;
  font-size: 14px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  font-size: 13px;
  /* margin-bottom:20px; */
}
.options label {
  display: flex;
  align-items: center;
  gap: 6px;
}
.options input {
  margin-top: 15px;
}

.options a {
  text-decoration: none;
  color: #666;
}

.create-btn {
  width: 100%;
  padding: 13px;
  border: none;
  background: black;
  color: white;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}

.create-btn:hover {
  background: #222;
}

.divider {
  text-align: center;
  margin: 10px 0;
  color: #777;
}

.google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
}

.google-btn img {
  width: 18px;
}
